<div class="container container-signin">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Please sign in</h3>
    </div>
    <div class="panel-body">
      <%= form_for :session, url: sessions_path do |f|%>
        <%= f.text_field :email, placeholder: "Email", autofocus: true, required: true, class: "form-control" %>
        <%= f.password_field :password, placeholder: "Password", required: true, class: "form-control" %>

        <%= f.submit "Sign in", class: "btn btn-primary btn-block form-control" %>
      <% end %>

      <p> <%= link_to "Forgot your password?", '#' %> </p>
      <p> <%= link_to "Don't have an account yet?", '#' %> </p>
      <p> or </p>
      <div class: "btn btn-block form-control" id='fb-signin'>
        <%= link_to "", "/auth/facebook", class: 'inner'%>
      </div>
    </div>
  </div>
</div>
