<% provide :title, "Edit | #{@cancellation.start_at}"%>
<div class="row">
  <div class="center span6 offset3">
    <%= render "cancellation" %>

    <% if @cancellation.available? && !@cancellation.in_the_past? && !@cancellation.creator_same_as(current_user) %>
      <%= link_to "Take this spot", cancellation_path, method: :patch, class: "btn btn-primary" %>
    <% end %>

    <br><br>
    <% if can? :destroy, @cancellation%> 

      <%= form_for(@cancellation, url: {action: "admin_update"}) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :instrument, "Admin Change Instrument" %>
        <%= f.text_field :instrument %>

        <br><br>
    
        <%= f.submit "Send", class: "btn btn-primary", id: "new"%>
      <% end %>

      <%= link_to "delete cancellation", @cancellation, method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>