<%= provide(:title, "Notify an absence")%>

  <div class="row">
    <div class="span3 offset4">
      <h3> Notify an absence </h3>

      <%= form_for(@cancellation) do |f| %>
        <%= render 'shared/error_messages' %>


        <%= f.label :name, "Student Name" %>
        <%= f.text_field :name %>

        <%= f.label :instrument, "Instrument" %>
        <%= f.text_field :instrument%>

        <%= f.label :date, "Date" %>
        <%= f.text_field :date %>

        <%= f.label :start_time, "Start time" %>
        <%= f.select(:start_time, options_for_select(times)) %>
        <br><br>
        <%= f.submit "Send", class: "btn btn-primary"%>

        
      <% end %>
    </div>
  </div> 

  <script type="text/javascript">
  $(document).ready(function(){
    $("#new_cancellation").submit(function(event){
      event.preventDefault();

      // the dateTime when the user submit the form
      var notificationDateTime = new Date();     

      // the date of the absence (entered by the user)
      var date = $("#cancellation_date").val();
      var dateParts= date.split("/");

      // the hour of the absence (enters b the user)
      var time = $("select").val(); 
      var timeParts = time.match(/(\d{2}):(\d{2})/)
      // dateTime of the absence
      var absenceDateTime = new Date("20" + dateParts[2], (dateParts[0] - 1), dateParts[1], timeParts[1], timeParts[2]);


      console.log(notificationDateTime + " " + absenceDateTime);

      // comparing the dates
      if (notificationDateTime < absenceDateTime) {
        alert("Before");  
      }
      else { 
        alert("After");
      }
    })
  })
  </script>