<%= provide(:title, "Notify an absence")%>


<div class="row">
  <div class="span6 offset3">
    <h2> Notify an absence </h2>

    <%= form_for(@cancellation) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :name, "Student Name" %>
        <%= f.text_field :name, value: "#{name_example}" %>

        <%= f.label :instrument, "Instrument" %>
        <%= f.text_field :instrument, placeholder: "e.g., guitar", value: "#{instrument_example}" %>

        <%= label_tag :date %>
        <%= text_field_tag :date, nil, placeholder: "mm/dd/yy", value: "#{formatted_time_now}" %>

        <%= f.label :start_at, "Start time" %>
        <%= f.select(:start_at, options_for_select(times)) %>

    <br><br>
    
    <%= f.submit "Send", class: "btn btn-primary", id: "new"%>


    <% end %>
  </div>
</div>

<%= javascript_include_tag "cancellations_new" %>