<%= provide(:title, "Absence Notification")%>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h1> Absence Notification </h1>
      <%= form_for @cancellation, html: { role: 'form' } do |f| %>
        <%= render 'shared/error_messages' %>

        <div class="form-group">
            <%= f.label :name, "Student Name" %>
            <%= f.text_field :name, placeholder: "STUDENT NAME", value: "#{last_name_used}", class: 'form-control'  %>
        </div>

        <div class="form-group">
            <%= f.label :instrument, "Instrument" %>
            <%= f.text_field :instrument, placeholder: "INSTRUMENT", value: "#{last_instrument_used}", class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= label_tag :date, "Absence Date" %>
            <%= text_field_tag :date, nil, placeholder: "(mm/dd/yy)", value: next_date_formatted, class: 'form-control form-date' %>
        </div>

        <div class="form-group">
            <%= f.label :start_at, "Start time" %>
            <%= f.select(:start_at, options_for_select(times, next_hour_available), {}, class: 'form-control' ) %>
        </div>
        
        <div class="form-group">
            <%= label_tag :school_code, "School Code:" %>
            <%= content_tag :p, "(Contact your school in order to get the school code)" %>
            <%= text_field_tag :school_code, nil, class: 'form-control' %>
        </div>
    
    <%= f.submit "Send", class: "btn btn-primary new-button" %>


    <% end %>
  </div>
</div>
