<%= provide(:title, "Notify an absence")%>


<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1> Notify an absence </h1>

    <%= form_for(@cancellation) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :name, "Student Name" %>
        <%= f.text_field :name, placeholder: "STUDENT NAME", value: "#{last_name_used}" %>

        <%= f.label :instrument, "Instrument" %>
        <%= f.text_field :instrument, placeholder: "INSTRUMENT", value: "#{last_instrument_used}" %>

        <%= label_tag :date, "Absence Date" %>
        <%= text_field_tag :date, nil, placeholder: "ABSENCE DATE (mm/dd/yy)", value: next_date_formatted %>

        <%= f.label :start_at, "Start time" %>
        <%= f.select(:start_at, options_for_select(times, next_hour_available)) %>
        <%= label_tag(:school_code, "School Code:") %>
        <%= text_field_tag(:school_code) %>

    <br><br>
    
    <%= f.submit "Send", class: "btn btn-primary", id: "new"%>


    <% end %>
  </div>
</div>

<%#= javascript_include_tag "cancellations_new" %>