<%= provide(:title, "Notify an absence")%>

  <div class="row">
    <div class="span3 offset4">
      <h3> Notify an absence </h3>

      <%= form_for(@cancellation) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "Student Name" %>
        <%= f.text_field :name %>

        <%= f.label :instrument, "Instrument" %>
        <%= f.text_field :instrument%>

        <%= f.label :date, "Date" %>
        <%= f.text_field :date %>

        <%= f.label :start_time, "Start time" %>
        <%= f.text_field :start_time %>

        <%= f.label :end_time, "End time" %>
        <%= f.text_field :end_time  %>
        <br><br>
        <%= f.submit "Send", class: "btn btn-primary"%>
      <% end %>
      
    </div>
  </div> 