<% provide(:title, "#{@cancellation.name} #{@cancellation.date}")%>

<div class="span6 offset3 center">
  <h2>Thank you for notifying us your absence!</h2>
  <div class="makeup">
    <br>
    <h4><%= @cancellation.name %></h4>
    <p>
      <b>Date: </b> <%= @cancellation.date %><br>
      <b>Instrument:</b> <%= @cancellation.instrument %><br>
      <b>Start time: </b><%= @cancellation.start_time %><br>
      <b>End time: </b><%= @cancellation.end_time %><br>
    </p>
  </div>
      <%= link_to "Exit", "#", id: "exit", class: "btn btn-primary" %>
</div>