<% provide(:title, "#{@cancellation.instrument} #{@cancellation.start_at.strftime("%m-%d-%y")}")%>

<div class="span6 offset3 center">
  <h2>Thank you for notifying us your absence!</h2>
  <div class="makeup">
      <h4><%= @cancellation.name %></h4>
    <p>
      <b>Date: </b> <%= get_date(@cancellation.start_at) %><br>
      <b>Instrument:</b> <%= @cancellation.instrument %><br>
      <b>Start time: </b><%= get_time(@cancellation.start_at) %><br>
    </p>
  </div>
</div>

<%= javascript_include_tag "cancellations" %>