<div class='row'>  
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div>

      <div class="form-group field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary'  %>
      </div>
    <% end %>

    <div id='sign-in-button'>
      <%= link_to '', user_omniauth_authorize_path(:facebook), class: 'inner'%>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>