<%= form_for [:admin, @cancellation], html: { role: 'form' } do |f| %>

  <div class="form-group">
    <%= f.label :instrument, "New Instrument" %>
    <%= f.text_field :instrument, class: 'form-control' %>
  </div>

  <%= f.submit "Send", class: "btn btn-primary edit-btn", id: "new"%>
<% end %>

<% if @cancellation.taker == nil %>
  <%= link_to admin_cancellation_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger edit-btn" do %>
    Delete cancellation <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
  <% end %>
<% else %>
  <%= link_to admin_cancellation_path, method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-warning edit-btn" do %>
    Make it available <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
  <% end %>
<% end %>
